<p></p>

<h2>Carrinho</h2>

<p></p>

<mat-card>

  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>

  <p>
    <a routerLink="/shipping">Preços de Envio</a>
  </p>
  
  
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

      <div>
        <app-cart-input
        formControlName="name"
        label="Nome"
        placeholder="Nome Completo">
        </app-cart-input>
      </div>

      <p>
        <button mat-flat-button class="button" type="submit" [disabled]="">Comprar</button>
      </p>
  </form>

</mat-card>
