<p></p>

<h2>Carrinho</h2>

<p></p>

<mat-card>

  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>

  <p>
    <a routerLink="/shipping">Preços de Envio</a>
  </p>
  
  
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(this.checkoutForm.value)">

        <div [formGroup]="this.checkoutForm">
          <app-cart-input
          label="Nome"
          param="name"
          placeholder="Nome Completo">
          </app-cart-input>
        </div>

        <div [formGroup]="this.checkoutForm">
          <app-cart-input
          label="Endereço"
          param="address"
          placeholder="Rua + número">
          </app-cart-input>
        </div>

      <p>
        <app-cart-input
        label="E-mail"
        param="email"
        placeholder="exemplo@dominio.com">
        </app-cart-input>
      </p>

  
      <p>
        <button mat-flat-button class="button" type="submit" [disabled]="">Comprar</button>
      </p>
  </form>

</mat-card>
